.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#pricing-plans-outer-wrapper {
  height: 500px;
  position: relative;
  overflow-x: auto; }
  #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper {
    position: absolute;
    min-width: 996.3px; }
    #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans {
      position: relative;
      margin: 0 auto;
      width: 861px;
      text-align: center; }
      #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .desc {
        position: absolute;
        width: 184.5px;
        color: #1269b0; }
      #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .circles {
        display: inline-block;
        margin: 50px auto; }
        #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .circles .wrap-large-circle {
          width: 123px;
          height: 123px;
          position: relative;
          float: left; }
          #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .circles .wrap-large-circle .large-circle {
            margin: auto;
            border-radius: 61.5px;
            width: 103.32px;
            height: 103.32px;
            box-sizing: content-box;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: black;
            color: white;
            cursor: pointer; }
            #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .circles .wrap-large-circle .large-circle .title {
              position: relative;
              top: 44.16px;
              font-size: 15.0px;
              font-weight: bold; }
            #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .circles .wrap-large-circle .large-circle.active {
              background-color: #1269b0;
              border: 9.84px solid #ededed; }
      #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .scrollbar {
        position: relative;
        height: 9px;
        border: 1px solid #bbbbbb;
        border-radius: 4.5px;
        background-color: #EEE; }
        #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .scrollpanel .scrollbar .handler {
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid #bbbbbb;
          border-radius: 4.5px;
          padding: 5px 0;
          width: 103.32px;
          position: absolute;
          left: 0;
          top: -11.5px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          color: #1269b0;
          background-color: white; }
      #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram {
        margin: 16px 0;
        font-size: 14px; }
        #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .small-circle {
          display: inline-block;
          margin: 0 1.2px;
          border-radius: 4px;
          width: 8px;
          height: 8px; }
          #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .small-circle.senior {
            background-color: red; }
          #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .small-circle.middle {
            background-color: orange; }
          #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .small-circle.junior {
            background-color: green; }
        #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .experts {
          margin: 0 auto;
          width: 738px; }
          #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .experts .expert {
            margin: 14px 0;
            width: 123px;
            float: left; }
            #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .experts .expert .text {
              margin-top: 10px;
              margin-bottom: 4px; }
            #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .experts .expert .small-circles {
              height: 8px; }
        #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .bottom {
          margin-top: 16px; }
          #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .bottom .block {
            display: inline-block;
            width: block-width; }
            #pricing-plans-outer-wrapper #pricing-plans-inner-wrapper #pricing-plans .diagram .bottom .block .small-circle {
              margin: 0 9.6px; }
