$block-width: 140px;
$scrollbar-height: 9px;
$scrollbar-handler-size: 10px;
$large-circle-width: $block-width * 0.84;
$small-circle-radius: 4px;
$title-size: 18px;
$color-black: black;
$color-blue: rgb(18, 105, 176);
$color-shadow: rgb(237, 237, 237);
$color-white: white;
$color-border: #BBB;
$color-senior: red;
$color-middle: orange;
$color-junior: green;

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#pricing-plans {
	position: relative;
	margin: 0 auto;
	width: $block-width * 7;
	text-align: center;
	.scrollpanel {
		.desc {
			position: absolute;
			width: $block-width * 1.5;
			color: $color-blue;
		}
		.circles {
			display: inline-block;
			margin: 50px auto;
			.wrap-large-circle {
				width: $block-width;
				height: $block-width;
				position: relative;
				float: left;
				.large-circle {
					margin: auto;
					border-radius: $block-width / 2;
					width: $large-circle-width;
					height: $large-circle-width;
					box-sizing: content-box;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: $color-black;
					color: $color-white;
					.title {
						position: relative;
						top: $large-circle-width / 2 - ($title-size / 2);
						font-size: $title-size;
					}
					&.active {
						background-color: $color-blue;
						border: ($block-width - $large-circle-width) / 2 solid $color-shadow;
					}
				}
			}
		}
		.scrollbar {
			position: relative;
			height: $scrollbar-height;
			border: 1px solid $color-border;
			border-radius: $scrollbar-height / 2;
			background-color: #EEE;
			.handler {
				display: inline-block;
				box-sizing: border-box;
				border: 1px solid $color-border;
				border-radius: $scrollbar-height / 2;
				padding: $scrollbar-handler-size / 2 $scrollbar-handler-size * 2;
				width: $large-circle-width;
				position: absolute;
				left: 0;
				top: -($scrollbar-handler-size + 22 - $scrollbar-height) / 2;
				box-shadow: 0 1px 1px rgba(0,0,0,0.15);
				color: $color-blue;
				background-color: white;
			}
		}
	}
	.diagram {
		margin: 16px 0;
		font-size: 14px;
		.small-circle {
			display: inline-block;
			margin: 0 $small-circle-radius * 0.3;
			border-radius: $small-circle-radius;
			width: $small-circle-radius * 2;
			height: $small-circle-radius * 2;
			&.senior { background-color: $color-senior; }
			&.middle { background-color: $color-middle; }
			&.junior { background-color: $color-junior; }
		}
		.experts {
			margin: 0 auto;
			width: $block-width * 6;
			.expert {
				margin: 14px 0;
				width: $block-width;
				float: left;
				.text { margin-top: 10px; margin-bottom: 4px; }
				.small-circles {
					height: $small-circle-radius * 2;
				}
			}
		}
		.bottom {
			margin-top: 16px;
			.block {
				display: inline-block;
				width: block-width;
				.small-circle { margin: 0 $small-circle-radius * 2.4; }
			}
		}
	}
}
